header {
background-color: white;
color: black;
text-align:center;
}

header h1 {
font-size: 50px;
}
nav{
background-color:blue;
padding: 10px 0;
text-align:center;
}

nav a{
color: black;
margin: 0 15px;
}


body {
background-color: grey;
}

.container{
max-width: 900px;
margin: 20px auto;
background-color: white;
padding: 20px;
border-radius: 6px;
}

section{
margin-bottom: 30px;
}

h2{
color: #0D6360;
}

.about-wrapper{
display: flex;
flex-wrap: wrap;
gap: 20px;
align-items: center;
}

.about-wrapper img {
width: 140px;
height: 140px;
border-radius: 50%;
object-fit: cover;
}